body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e293b;
    font-family: Arial, sans-serif;
}

.container {
    background: #2d3748;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
}

.advice-id {
    color: #38bdf8;
    font-size: 12px;
}

blockquote {
    font-size: 18px;
    margin: 20px 0;
}

.divider {
    height: 1px;
    background: #4a5568;
    margin: 10px 0;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background: #22d3ee;
}

button h1 {
    width: 50px;
    height: 15px;
}
