*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}

.rr {
    width: 2000px;
    height: 1100px;

    border-radius: 15px;
    box-shadow: 5px 5px 30px rgb(154, 156, 156);
    background-color: #D6E1FF;

    display: flex;
    
    position: absolute;
    top: 80px;
    left: 280px;
}

.dayofa {
    position: relative;
    top: 145px;
    left: 722px;

    height: 800px;
    width: 555px;

    background-color: white;
    border-radius: 15px;

    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 5px 5px 15px rgb(172, 173, 173);

}

.pirveli {

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url("surati.png");
    background-position: center;
    background-size: cover;
}

.meore h1, p {
    position: relative;
    left: 130px;
    top: 45px;
    
}

.meore h1 {
    color: #313E4D;
    font-size: 40px;
    font-weight: bold;
}

.meore p {
    color: #767D8F;
    font-size: 22px;

    position: relative;
    right: 40px;
    top: 60px;

}

.ann {
    width: 400px;
    height: 130px;
    background-color: #F6FAFD;
    position: relative;
    top: 90px;
    left: 78px;
    border-radius: 20px;
}

.mus {
    position: relative;
    top: 28px;
    background-color: #E3E7F6;
    width: 68px;
    height: 68px;
    position: relative;
    left: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ann i {
    color: #8488A4;
    transform: scale(1.7);
}
