.parent {
    display: flex;  

    flex-direction: row;

    
    width: 1500px;
    height: 1000px;

}

.child {
    background-image: url("saiti.png");

    height: 1000px;
    width: 750;
    border: 4px solid rgb(83, 83, 83);

}

.child1 {

    height: 1000px;
    width: 750;
    border: 4px solid rgb(83, 83, 83);
}